{
    "presets": ["react-native", "flow", "react-native-stage-0/decorator-support"],
    "plugins": ["babel-root-slash-import"],
    "env": {
      "production": {
        "plugins": ["ignite-ignore-reactotron"]
      }
    }
  }
  
  